---
import { getCollection } from "astro:content";

import Layout from "../../layouts/Layout.astro";

export async function getStaticPaths() {
  const projects = (await getCollection("projects")).sort(
    (a, b) => a.data.order - b.data.order
  );

  return projects.map((project) => ({
    params: { slug: project.slug },
    props: { currentProject: project, projects },
  }));
}

const { currentProject, projects } = Astro.props;
const { Content } = await currentProject.render();
---

<Layout title={`Project: ${currentProject.data.title}`}>
 <a href="/" class="uppercase text-xs">← Back</a>
  <h1 class="font-serif text-3xl">{currentProject.data.title}</h1>
  <p class="font-mono uppercase text-xs">{currentProject.data.subtitle}</p>
  <div class="prose prose-li:my-0 prose-h2:mt-8 prose-h2:font-normal prose-h2:mb-3 dark:text-white dark:prose-headings:text-secondary mt-8">
    <Content />
  </div>
  <div class="mt-8">
    <p>Other projects:</p>
    <ul>
      {
        projects.map((project) => (
          <li class="text-md font-mono uppercase py-1 mb-2 md:mb-0">
            {project.slug !== currentProject.slug && (
              <a
                class="uppercase hover:underline underline-offset-4"
                href={`/projects/${project.slug}`}
              >
                {project.data.title}
              </a>
              <span class="block text-xs md:inline">{project.data.subtitle}</span>
            )}
            {project.slug === currentProject.slug && (
              <span class="uppercase line-through">{project.data.title}</span>
            )}
          </li>
        ))
      }
    </ul>
  </div>
</Layout>
